.header {
  background-image: url(../../assets/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  background-image: url(../../assets/header-decor.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(35%);
  z-index: 2;
}

.header::after {
  content: '';
  position: absolute;
  background-image: url(../../assets/header-decor.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 0;
  gap: 100px;
}

.header_top a svg path {
  transition: fill 0.4s ease;
}

.header_top a svg path:hover {
  fill: #0093a1;
}

.header_top button {
  padding: 12px 71px;
  font-family: 'Comfortaa';
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  color: white;
  border: none;
  background: #262c27;
  text-transform: uppercase;
  cursor: pointer;
}

.header_top .header_phone {
  font-family: 'Comfortaa';
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #262c27;
  cursor: default;
}

.header_content {
  min-height: calc(100vh - 166px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header_contentBox {
  font-family: 'Comfortaa', cursive;
  max-width: 550px;
  text-align: center;
  margin-right: 30px;
  color: white;
  text-transform: uppercase;
}

.header_contentBox h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 71px;
  margin-bottom: 20px;
}

.header_contentBox p {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 20px;
}

.header_decorText {
  position: absolute;
  bottom: 20px;
  color: #0093a1;
}

.header_decorTextThree {
  max-width: 360px;
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  right: 145px;
  z-index: 4;
  font-style: italic;
  text-align: center;
}
