.header {
  background-image: url(../../assets/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 0;
  gap: 100px;
}

.header_top a svg path:hover {
  fill: #0093a1;
  transition: fill 0.3s;
}
